@keyframes sidebarMin {
  0% {
    max-width: 300px;
  }

  100% {
    max-width: 93px;
  }
}

@keyframes nameMin {
  0% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes btnMin {
  0% {
    right: -12px;
  }

  100% {
    right: -45px;
  }
}


@keyframes listNameMin {
  0% {
    visibility: visible;
    opacity: 1;
    display: inline;
  }

  100% {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}